@font-face {
  font-family: "W95";
  src: url(/assets/W95FA/w95fa.woff2) format("woff2"),
    url(/assets/W95FA/w95fa.woff) format("woff");
}

/* :root 
--grey: c3c3c3
--teal: 008080
--blue:030a8c
--yellow: ffffcf */

body {
  height: 100%;
  background-color: #008080;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
}

#cv-icon {
  grid-area: 2 / 5 / 2 / 5;
  justify-self: center;
  align-self: center;
}

#portfolio-icon {
  grid-area: 3 / 5 / 3 / 5;
  justify-self: center;
  align-self: center;
}

#contact-icon {
  grid-area: 4 / 5 / 4 / 5;
  justify-self: center;
  align-self: center;
}

header {
  grid-area: 1 / 1 / 1 / 6;
  display: flex;
  background-color: #030a8c;
  border-right: solid #c3c3c3 0.5px;

  color: white;
  font-family: "W95";
  font-size: 12px;
  font-weight: lighter;
}

header :nth-child(1) {
  align-content: center;
  margin: 0;
  padding-top: 4px;
  padding-left: 4px;
}

.section-wrapper {
  grid-area: 2 / 2 / 5 / 4;
  display: grid;
  grid-template-columns: 0.2fr 2.5fr 0.2fr 0.5fr 0.2fr;
  grid-template-rows: 0.2fr 0.5fr 2.5fr 0.5fr;
  grid-auto-flow: column;
  background-color: #c3c3c3;
  border-top: solid white 1px;
  border-left: solid white 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;

  max-width: 500px;
  min-width: 300px;
}

#left-column {
  grid-area: 3 / 2;
  background-color: #ffffcf;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;

  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid white 1px;
  border-bottom: solid white 1px;
}

#left-column :nth-child(1) {
  padding: 10px;
}

#left-column :nth-child(2) {
  padding: 10px;
}

#right-column {
  grid-area: 3 / 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c3c3c3;
  border-top: solid white 1px;
}

.button {
  background-color: #c3c3c3;
  border-top: solid white 1px;
  border-left: solid white 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;

  font-family: "W95";
}

#start-button {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
}

#desktop-clock {
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 5px;

  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid white 1px;
  border-bottom: solid white 1px;

  font-family: "W95";
}
